body{
	background-color:gray;
	font-family: "Verdana", Geneva, sans-serif;
	text-align: left;
	
}

div{
	background-color:white;
	margin-left: 25%;
	margin-right: 25%;
	
	
}

h4{
	color:gray;

}

a.sneakylink{color: black; text-decoration: none;}


	