body{
	background-color:gray;
	font-family: "Verdana", Geneva, sans-serif;
	font-size: 40px;
	text-align: left;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 20px;
	margin-top: 0%;
	
}

div{
	border: 2px solid white;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color:white;
	padding-top: 5px;
	padding-bottom: 20px;
	padding-left: 5%;
	padding-right: 5%;
	
	
}

#redir{font-size: 14pt;}

img{
	width: 90%;
	height: auto;
	border-radius: 20px;
	
}


h1{
	border: 2px solid SkyBlue;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 20px;
	margin-bottom: 0px;
	background-color:SkyBlue;
	color:white;
	font-size: 80px;
	
	
}

button{font-size: 50px;}

select{
	font-size:35px;
	
}

h4{
	color:gray;
	font-size: 50px;

}



a.sneakylink{color: black; text-decoration: none;}


	