body{
	background-image:url('https://s3.amazonaws.com/skiDeltaMixes/graphic.png');
}

.big_butt{font-size: 80px; font-family: "Verdana", Geneva, sans-serif; font-weight:bold; color:black}

.center{text-align: center; color:red;}
